@if (!string.IsNullOrEmpty(ViewBag.Sucesso))
{
    <div style="padding-top: 15px"></div>

    <div id="msg_box" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h3 id="msgRetornada">@ViewBag.Sucesso</h3>
    </div>
}

@if (TempData["Sucesso"] != null)
{
    <div style="padding-top: 15px"></div>

    <div id="msg_box" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4 id="msgRetornada">@Html.Raw(TempData["Sucesso"].ToString())</h4>
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.Erro))
{
    <div style="padding-top: 15px"></div>

    <div id="msg_box" class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h3 id="msgRetornada">@ViewBag.Erro</h3>
    </div>
}

@if (TempData["Erro"] != null)
{
    <div style="padding-top: 15px"></div>

    <div id="msg_box" class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4 id="msgRetornada">@Html.Raw(TempData["Erro"].ToString())</h4>
    </div>
}