@model AlbumViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Excluir " + Model.Titulo;
}
<div class="container main-container">
    <div class="row">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <h4>Excluir @Model.Titulo </h4>
    <br>
    <h5>Você tem certeza disso?</h5>

    <div class="row">
        <div class="col-md-6">
            <dl>
                <dt>
                    Título
                </dt>
                <dd>
                    @Model.Titulo
                </dd>
                <dt>
                    Artista
                </dt>
                <dd>
                    @Model.Artista?.Nome
                </dd>
            </dl>

            <div>
                <form asp-action="Excluir">
                    <input type="hidden" asp-for="AlbumId" />
                    <input type="submit" value="Excluir" class="btn btn-danger" />
                    <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
                </form>
            </div>
        </div>
    </div>

</div>