@model List<ArtistaViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container main-container">
    <h1>Artistas</h1>
    <hr>

    <p>
        <a class="btn btn-info" asp-controller="Artista" asp-action="Novo">Novo Artista</a>
    </p>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Nome
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var artista in Model)
            {
                <tr>
                    <td>
                        @artista.Nome
                    </td>
                    <td class="text-right">
                        <a class="btn btn-warning"
                           asp-controller="Artista"
                           asp-action="Detalhes"
                           asp-route-id="@artista.ArtistaId">
                            Detalhes
                        </a>
                        <a class="btn btn-info"
                           asp-controller="Artista"
                           asp-action="Editar"
                           asp-route-id="@artista.ArtistaId">
                            Editar
                        </a>
                        <a class="btn btn-danger"
                           asp-controller="Artista"
                           asp-action="Excluir"
                           asp-route-id="@artista.ArtistaId">
                            Excluir
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>